{% extends 'PiniuUsersBundle::layout.html.twig' %}

{% block title %}Rejestracja klienta{% endblock %}

{% block body %}
    <header>
        <h1>Rejestracja klienta</h1>
    </header>

    <form action="{{ path('piniu_users_create') }}" method="post" {{ form_enctype(form) }} class="user">
        {{ form_errors(form) }}
        <div>
        {{ form_row(form.user.username) }}
        {{ form_row(form.user.firstname) }}
        {{ form_row(form.user.lastname) }}
        {{ form_row(form.user.email) }}
        </div>
        <div class="password">
        {{ form_row(form.user.password) }}
        </div>
        <div class="checkbox clearfix">
            {{ form_errors(form.terms) }}
            {{ form_widget(form.terms) }}
            {{ form_label(form.terms) }}
        </div>

        {{ form_rest(form) }}

        <button type="submit">Zarejestruj</button>
    </form>
{% endblock %}